{% extends "layout.html" %}

{% block title %}Atharva Upadhyay - Design 2{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Serif+Devanagari:wght@100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/design2.css">
{% endblock %}

{% block hero %}
    <section class="hero">
        <h1 class="hero-name">
            ATHARVA
        </h1>

        <div class="devanagari">
            अथर्व उपाध्याय
        </div>

        <p class="hero-desc">
            STUDENT • CS • MATH
        </p>

        <p class="desc">
            I'm currently a Grade 11 student exploring finance,
            business, and engineering. I've been programming since
            I was 11, mainly in Python and C++, and enjoy building
            software, hardware, IoT projects, PCBs, financial tools,
            machine learning projects, and web applications.
        </p>

        <div class="links">
            <a href="#">Projects</a>
            <a href="#">GitHub</a>
            <a href="#">Contact</a>
            <a href="#">Resume</a>
        </div>
    </section>
{% endblock %}
