{% extends "layout.html" %}

{% block title %}Atharva Upadhyay{% endblock %}

{% block fonts %}
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap"
    rel="stylesheet">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/base.css">
{% endblock %}

{% block hero %}
<section class="hero">
    <h1 class="name">
        <span class="name-line-1">ATHARVA</span>
        <span class="name-line-2">UPADHYAY</span>
    </h1>

    <div class="subtitle">
        student • ai/ml • math • econ
    </div>

    <p class="desc">
        <span class="hide-mobile-school">high school senior </span>exploring ai/ml, engineering, finance,
        and math i've been programming since i was 11 (yes im pretty cracked)
        mainly in python and c++ i enjoy solving problems and trying out
        new ideas and building cool stuff be it software or hardware
        - iot, microcontrollers, web apps or something really convienient
        which solves a problem
    </p>

    <div class="links">
        <a href="/projects" draggable="false">Projects</a>
        <a href="https://github.com/atharvaupadhyay/" target="_blank" draggable="false">GitHub</a>
        <a href="/contact" draggable="false">Contact</a>
    </div>
</section>
{% endblock %}